// Tables

$table-border: 1px solid $gray-light-color !default;

table {
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom-width: 2px;
    
  th {
    border-bottom: $table-border;
  }
    
  td {
    border-right: $table-border;
    border-left: $table-border;
      
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  
  a {
    text-decoration: none;
    font-weight: $font-weight-bold;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
    
  &.fullwidth {
    width: 100%;
  }
}