@import "../core/mixins";
@import "../uniweb/top-header";

$search-type: classic !default; // Možnosti: classic | simple
$search-placeholder-color: $gray-color !default;
$search-border-color: $gray-light-color !default;
$search-font-color: $primary-color !default;

$search-simple-background: transparent !default;

$search-classic-background: $white !default;
$search-classic-btn-background: $white !default;
$search-classic-btn-background-hover: $white !default;

$search-btn-icon: '../images/ico-search.svg' !default;
$search-btn-icon-hover: '../images/ico-search-hover.svg' !default;

@mixin searching-base {
  margin-top: rem-calc(4) !important;
  ::-webkit-input-placeholder { color: $search-placeholder-color; }
  :-moz-placeholder { color: $search-placeholder-color; }
  ::-moz-placeholder { color: $search-placeholder-color; }
  :-ms-input-placeholder { color: $search-placeholder-color; }
    
  input[type="text"] {
    color: $search-font-color;
    margin-top: 0 !important;
      
    @include transition(border 0.5s ease);
  }
    
  .button {
    background: $search-simple-background url($search-btn-icon) no-repeat center center !important;
    background-color: transparent;
    color: transparent;
    padding: 0;
    background-size: 14px 14px !important;
    margin: 0 !important;
      
    @include transition(border 0.5s ease);
      
    &:hover {
      background: $search-simple-background url($search-btn-icon-hover) no-repeat center center !important;
      background-color: transparent;
      background-size: 14px !important;
    }
  }
    
  svg .st0 {
      fill: yellow !important;  
  }
    
  @media #{$medium-up} {
    @if $additional-menu-correction == true {
      margin-top: rem-calc(63) !important;
      } @else {
        margin-top: rem-calc(50) !important;
      }
  }
}

@mixin searching-simple {
  input[type="text"] {
    background: $search-simple-background;
    border: 1px solid transparent;
    border-bottom-color: $search-border-color;
    box-shadow: none;
            
    &:focus {
      border-top-color: $search-border-color;
      border-left-color: $search-border-color;
      border-right-color: $search-border-color;
    }
  }
    
  .button {
    border: 1px solid transparent;
    border-bottom-color: $search-border-color;
      
    &:hover {
      border-color: $search-border-color;
    }
  }
}

@mixin searching-classic {
  input[type="text"] {
    background: $search-classic-background;
    border: 1px solid $search-border-color;
  }
    
  .button {
    background-color: $search-classic-btn-background !important;
    border: 1px solid $search-border-color;
    border-left-width: 0;
      
    &:hover {
      background-color: $search-classic-btn-background-hover !important;
    }
  }
}

@include exports("search-row") {
  .search-row {
    @include searching-base;
      
    @if $search-type == classic {
      @include searching-classic;
    } @else if $search-type == simple {
        @include searching-simple;
    }
  }
}
