@import "../core/mixins";

$simplemodule-radius: $global-radius !default;
$simplemodule-margin: $column-gutter !default;
$simplemodule-text-color: $body-font-color !default;
$simplemodule-text-color-hover: $anchor-font-color-hover !default;
$simplemodule-dark-color: $black !default;
$simplemodule-inverse-color: $white !default;

@mixin typography {
  .content {
    position: relative;
      
    h2, h3, h4, h5 {
      color: $simplemodule-text-color;
      font-size: rem-calc(24);
      font-weight: $font-weight-normal;
      line-height: 1.1em;
      margin: 0;
      padding: rem-calc(5 0);
      position: relative;
      text-transform: uppercase;
      width: 100%;
      @include transition(color 0.4s ease);
    }
    
    p {
      color: $body-font-color;
      margin-bottom: 0;
      @include transition(color 0.4s ease);
    }
  }
}

@mixin simplemodule($padding-top) {
  display: block;
  margin-top: $simplemodule-margin;
  margin-bottom: $simplemodule-margin * 2;
  position: relative;
  width: 100%;
    
  @include typography;
    
  .outer {
    display: block;
    margin-bottom: $simplemodule-margin;
    margin-top: $simplemodule-margin;
    overflow: hidden;
    padding-top: $padding-top;
    position: relative;
    width: 100%;
      
    .inner {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
        
      &::after {
        content: attr(data-size);
        position: absolute;
        top: -1em !important;
      }
        
      img {
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 800;
      
        @include translate(0, -50%);
      }
        
      .hover {
        background: none;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 850;
          
        @include transition(background-color 0.4s ease);
      }
    }
  }
    
  &.bottom {
    .content {
      padding: 0;
    }
  }
    
  &.top {
    .content {
      padding-top: $padding-top;
      h2, h3, h4, h5 {
        margin-top: $simplemodule-margin;
      }
    }
      
    .outer {
      margin-top: 0;
      position: absolute;
      top: 0;
    }
  }
}


@include exports("simple-module") {
  a.simple-module, div.simple-module {
    &.r16x9 { @include simplemodule(56.25%); }
    &.r2x1 { @include simplemodule(50%); }
    &.r8x3 { @include simplemodule(37.5%); }
    &.r16x3 { @include simplemodule(18.75%); }
      
    &.radius { .outer { @include radius($simplemodule-radius); } }
  }
    
  a.simple-module {
    &:hover, &:focus {
      text-decoration: none;
        
      .outer .inner .hover { background: rgba($simplemodule-dark-color, 0.5); }
        
      .content {
        h2, h3, h4, h5, p {
          color: $simplemodule-text-color-hover;
        }
      }
        
      &.inverse {
        .outer .inner .hover { background: rgba($simplemodule-inverse-color, 0.5); }
      }
    }
  }
}