// Tab Switcher

$tab-content-switcher-bg-color: rgb(127, 127, 127) !default;
$tab-content-switcher-bg-color-hover: $secondary-color !default;
$tab-content-switcher-color: $white !default;
$tab-content-switcher-color-hover: $white !default;
$tab-content-switcher-active-color: $white !default;
$tab-content-switcher-active-color-hover: $white !default;

.tabs-content {
  table {
    width: 100%;
  }
}

.tab-content {
  @include transition(all 0.3s ease); 
}

.tab-content-switcher {
  background: $tab-content-switcher-bg-color url("../images/icons/arrow-tab-content-switcher.svg") no-repeat;
  background-position: 0 -24px;
  background-size: 24px auto;
  display: block;
  height: rem-calc(24);
  color: $tab-content-switcher-color;
  font-family: $font-family-sans-narrow;
  font-size: rem-calc(15);
  font-weight: $font-weight-bold;
  letter-spacing: 0.1em;
  line-height: rem-calc(24);
  text-transform: uppercase;
  text-decoration: none;
  margin: rem-calc(20 0);
  padding: rem-calc(0 20 0 23);
                   
  &:hover {
    background-color: $tab-content-switcher-bg-color-hover;
    color: $tab-content-switcher-color-hover;
    text-decoration: none;
  }
    
  &.active {
    background-color: $tab-content-switcher-bg-color;
    background-position: 0 0;
    color: $tab-content-switcher-active-color;
    &:hover {
      background-color: $tab-content-switcher-bg-color;
      color: $tab-content-switcher-active-color-hover;
    }
  }
}