// b. User Buttons

.button, button {
  text-transform: uppercase;
    
  .fa {
    margin-left: 0.5em;
  }

  &:hover {
    text-decoration: none;
  }
    
  &.main-h1 {
    margin: rem-calc(20 0);
    @media #{$medium-up} {
      margin: rem-calc(45 0);
    }
  }

  &.link {
    background: $anchor-font-color;
    color: $white;
    &:hover {
      background: $anchor-font-color-hover;
    }
  }

  &.primary-dark {
    background: $primary-dark-color;
    color: $white;
    &:hover {
      background: scale-color($primary-dark-color, $lightness: $button-function-factor);
    }
  }

  &.primary-light {
    background: $primary-light-color;
    color: $white;
    &:hover {
      background: scale-color($primary-light-color, $lightness: $button-function-factor);
    }
  }

  &.primary-very-light {
    background: $primary-very-light-color;
    color: $body-font-color;
    &:hover {
      background: scale-color($primary-very-light-color, $lightness: $button-function-factor);
    }
  }

  &.third {
    background: $third-color;
    color: $white;
    &:hover {
      background: scale-color($third-color, $lightness: $button-function-factor);
    }
  }

  &.gray-dark {
    background: $gray-dark-color;
    color: $white;
    &:hover {
      background: scale-color($gray-dark-color, $lightness: $button-function-factor);
    }
  }

  &.gray {
    background: $gray-color;
    color: $white;
    &:hover {
      background: scale-color($gray-color, $lightness: $button-function-factor);
    }
  }

  &.gray-lighter {
    background: $gray-lighter-color;
    color: $white;
    &:hover {
      background: scale-color($gray-lighter-color, $lightness: $button-function-factor);
    }
  }
  
  &.gray-light {
    background: $gray-light-color;
    color: $white;
    &:hover {
      background: scale-color($gray-light-color, $lightness: $button-function-factor);
    }
  }

  &.gray-very-light {
    background: $gray-very-light-color;
    color: $body-font-color;
    &:hover {
      background: scale-color($gray-very-light-color, $lightness: $button-function-factor);
    }
  }

  &.white {
    background: $white;
    color: $body-font-color;
    &:hover {
      background: scale-color($white, $lightness: $button-function-factor);
    }
  }

  &.red {
    background: $firebrick-red-color;
    color: $white;
    &:hover {
      background: scale-color($firebrick-red-color, $lightness: $button-function-factor);
    }
  }

  &.orange {
    background: $alloy-orange-color;
    color: $white;
    &:hover {
      background: scale-color($alloy-orange-color, $lightness: $button-function-factor);
    }
  }

  &.yellow {
    background: $goldenrod-yellow-color;
    color: $white;
    &:hover {
      background: scale-color($goldenrod-yellow-color, $lightness: $button-function-factor);
    }
  }

  &.green {
    background: $avocado-green-color;
    color: $white;
    &:hover {
      background: scale-color($avocado-green-color, $lightness: $button-function-factor);
    }
  }

  &.green2 {
    background: $myrtle-green-color;
    color: $white;
    &:hover {
      background: scale-color($myrtle-green-color, $lightness: $button-function-factor);
    }
  }

  &.blue {
    background: $blue-color;
    color: $white;
    &:hover {
      background: scale-color($blue-color, $lightness: $button-function-factor);
    }
  }

  &.blue2 {
    background: $darkblue-color;
    color: $white;
    &:hover {
      background: scale-color($darkblue-color, $lightness: $button-function-factor);
    }
  }

  &.purple {
    background: $royal-purple-color;
    color: $white;
    &:hover {
      background: scale-color($royal-purple-color, $lightness: $button-function-factor);
    }
  }

  &.purple2 {
    background: $pearly-purple-color;
    color: $white;
    &:hover {
      background: scale-color($pearly-purple-color, $lightness: $button-function-factor);
    }
  }

  &.transparent {
    background: transparent;
    color: $body-font-color;
  }
}

.transp-btn {
    @include button($bg:false,$full-width:false);
    //font-size: rem-calc(14);
    padding: rem-calc(12 10);
    color: $third-color;
    i { 
      color: $gray-color; 
      margin-right: rem-calc(5);
    }
    &:hover { text-decoration: none; }
  }
