@import "../core/mixins";

// Clearspace

.offset-bottom-1 { margin-bottom: 1rem; }
.offset-bottom-2 { margin-bottom: 2rem; }
.offset-bottom-3 { margin-bottom: 3rem; }
.offset-bottom-4 { margin-bottom: 4rem; }

.offset-top-1 { margin-top: 1rem; }
.offset-top-2 { margin-top: 2rem; }
.offset-top-3 { margin-top: 3rem; }
.offset-top-4 { margin-top: 4rem; }