// Editorial

@import "../core/mixins";

$h1-font-size: rem-calc(36) !default;
$h1-strong-color: $primary-color !default;
$p-font-size: rem-calc(18) !default;

.editorial {
  padding: rem-calc(15 0);
    
  h1 {
    font-size: $h1-font-size;
    font-weight: $font-weight-normal;
    line-height: 2rem;
    text-transform: uppercase !important;
    margin: rem-calc(24 0 12 0) !important; 
      
    strong {
      color: $h1-strong-color;
      font-weight: $font-weight-bold;
    }
      
    @media #{$medium-up} {
      font-size: $h1-font-size * 1.333;
      line-height: 3rem;
      margin: rem-calc(48 0); 
    }
  }

  p {
    font-size: $p-font-size;
    letter-spacing: 0;

    @media #{$medium-up} {
      font-size: $p-font-size * 1.111;
    }
  }

  ul li {
    list-style: disc outside;
  }

  button, .button {
    &.main-h1 {
      margin: rem-calc(5 0);
        
      @media #{$medium-up} {
        margin: rem-calc(24 0);
      }
    }
  }
}