// e. Sociální sítě a Events - aktuality

@import "../core/mixins";

$events-background: $secondary-color !default;
$events-background-gone: $gray-color !default;

.events, .social-networks-event {
    
  h2, h3, h4, h5, h6 {
    font-size: $h4-font-size - rem-calc(2);
    font-weight: $font-weight-bold;
    line-height: 1.4em;
    margin: rem-calc(5 0 5 0);
      
    @media #{$medium-up} {
      line-height: 1.1em;
      margin: rem-calc(0 0 5 0);
    }
    
    a {
      color: $anchor-font-color;
      font-size: rem-calc(18);
      font-weight: 700;
      letter-spacing: 0.01em;
      line-height: 0.8em;
      text-decoration: none;
      padding: 0;

      &:hover {
        color: $anchor-font-color-hover;
        text-decoration: underline;
      }
    } 
  }

  .th {
    margin-top: rem-calc(5);
  }

  p {
    color: $body-font-color;
    font-size: rem-calc(15);
    letter-spacing: 0.01em;
    margin: rem-calc(7 0 10);
      
    a {
      font-weight: 700;
    }
      
    &.odkazy {
      font-size: rem-calc(12);
      letter-spacing: 0.015em;
      display: inline;
        
      .divider {
        display: inline-block;
        color: $third-color;
        margin: rem-calc(0 5);
      } 
    }
  }

  span {
    color: $body-font-color;
    margin: 0;
    padding: 0;
      
    &.nick {
      color: scale-color($body-font-color, $lightness: 30%);
      font-size: rem-calc(14);
      text-transform: uppercase;
    }
      
    &.date-hour-place {
      font-size: rem-calc(11);
      letter-spacing: 0.035em;
      text-transform: uppercase;
        
      .fa {
        margin-right: 1em;
      }
        
      a {
        font-weight: $font-weight-bold;
      }
        
      .nick {
        text-transform: none;
        color: scale-color($body-font-color, $lightness: 30%);
        display: inline-block;
      }
    }
  }
}

.social-networks-event {
  display: block;
  width: 100%;
  margin-bottom: 2em !important;
    
  span {
    display: inline-block;
  }
    
  img {
    &.icon {
      @include ikona-soc-net;
    }
  }
    
  @media #{$large-up} {
    margin-bottom: 0;
  }
}

.events {
  margin-bottom: rem-calc(20);
  span {
    display: block;
    margin-bottom: 0.4em;
      
    @media #{$medium-up} {
      display: block;
      margin-bottom: 0.4em;
    }
  }

  .date-icon-module {
    background: $events-background;
    width: 100%;
    margin: rem-calc(5 0 0 0);
    
    .outer {
      @include outer-cont;
      padding-top: 100%;
        
      .inner {
        @include inner-cont;
          
        div {
          position: absolute;
          width: 100%;
          margin: 0;
              
          &.date {
            display:block;
            height: 40%;
            top: 10%;
                
            @for $d from 1 through 31 {
              &.d#{$d} {
                background: transparent url("../images/calendar/#{$d}.svg") center center no-repeat; 
                background-size: contain;
              }
            }
          }
              
          &.month {
            display: block;
            height: 45%;
            bottom: 2.5%; 
               
            @for $m-cs from 1 through 12 {
              &.m#{$m-cs}-cs {
                background: transparent url("../images/calendar/#{$m-cs}-cs.svg") center center no-repeat; 
                background-size: contain;
              }
            }
            
            @for $m-en from 1 through 12 {
              &.m#{$m-en}-en {
                background: transparent url("../images/calendar/#{$m-en}-en.svg") center center no-repeat; 
                background-size: contain;
              }
            }
          }
        }
      }
    }

  }
    
  &.ev-gone {
    .date-icon-module {
      background: $events-background-gone;
    }
  }
}