@import "../core/mixins";
@import "../uniweb/logos";

$footer-link-color:       rgb(225, 229, 233) !default;
$footer-link-hover-color: rgb(140, 140, 140) !default;
$footer-box-color:        rgb(69, 70, 74) !default;
$footer-bg-color:         rgb(61, 62, 66) !default;
$footer-button-color: $gray-color !default;
$footer-logo-bg-img: "../images/logo-mu-footer.svg" !default;
$footer-logo-width-setting: classic !default;

// f. Footer

.row, .row-wide {
  &.footer-upper { 
    background: $footer-bg-color; 
    padding: rem-calc(20 0);
      
    @media #{$medium-up} {
      margin-top: rem-calc(45);
    }
  }

  &.footer-lower { 
    background: scale-color($footer-bg-color, $lightness: -10%); 
    @media #{$small-only} {
      padding-bottom: $column-gutter / 2;
    }
  }
}

.footer-upper, .footer-lower {
  a {
    color: $footer-link-color;
    text-decoration: none;
    @include transition(all 0.1s ease);
      
    &:hover {
      color: $footer-link-hover-color;
    }
  }
    
  .button, button {
    @include button($bg:$footer-button-color);
    margin: rem-calc(15 0);
  }
    
  .logo {
    margin-top: 0;
    margin-left: 0;
  }
    
  .panel {
    @include panel($bg:$footer-box-color, $padding:10px, $adjust:false);
    color: $footer-link-color;
    margin: rem-calc(13 0);
    border: none;
      
    &.footer-small {
      margin: rem-calc(0 0 13 0);
       
      @media #{$medium-only} {
        margin: rem-calc(13 0);
      }
      
      &:last-child {
        margin: 0;
      }
    }
      
    @media #{$medium-up} { //@media pro .panel
      margin: 0;
    }
      
    h1, h2, h3, h4, h5, h6 {
      color: $footer-link-color;
    }
      
    h2 {
      font-size: rem-calc(17);
      text-transform: uppercase;
      margin-top: rem-calc(2);
    }
      
    .footer-logo {
      background-position: top left !important;
      width: 100%;
      @include logo-bg($footer-logo-bg-img);
        
      @if $footer-logo-width-setting == classic {
        height: rem-calc(80);
        max-width: rem-calc(80);
        margin: rem-calc(0 15 0 0) !important;
        margin-bottom: rem-calc(50) !important;
          
        @media #{$medium-up} {
          margin-bottom: rem-calc(47) !important;
        }
        
      } @else if $footer-logo-width-setting == wide {
        height: rem-calc(40);
        max-width: 100%;
        margin: rem-calc(0 0 10 0) !important;
      }
    }

    &.contact-panel.eq-small {
      .footer-logo {
        background-position: top left;
        height: rem-calc(40);
        max-width: 100%;
        margin: rem-calc(0 0 10 0) !important;
      }
    }
  }

  p {
    color: $footer-link-color;
    font-size: rem-calc(13);
    letter-spacing: 0.01em;
    line-height: 1.5em;
    margin: 0;
  }

  ul {
    list-style: square !important;
    list-style-position: inside;
    font-size: rem-calc(13);
    text-transform: uppercase;
    margin: 0 0 2em 0;
      
    li {
      list-style-image: none;
      color: $footer-link-hover-color;
      vertical-align: middle;
        
      a {
        color: $footer-link-color;
        line-height: 2em;
          
        &:hover {
          color: $footer-link-hover-color;
        }
      }
    }
      
    @media #{$large-up} { //@media pro ul
      margin: 0;
    }
  }

  .social-networks-footer {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: rem-calc(13);
    padding: 0 !important;

    ul {
      list-style: none;

      .social-icon-footer {
        display: inline-block;
        width: 20%;
        border-right: 1px solid rgb(52, 52, 52);

        a {
          display: block;
          background: transparent;
          color: $footer-link-color;
          font-size: rem-calc(18);
          text-align: center;
          height: 100%;
          width: 100%;
          padding: rem-calc(3 0);
          @include transition(background 0.4s ease);
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;

          img {
            max-height: rem-calc(18);
            margin: 0;
            margin-top: -4px;
            vertical-align: middle;
            max-width: rem-calc(20);
          }
            
          &.facebook {
            &:hover { 
              background: $facebook-color; 
              color: $white; 
            }
          }
            
          &.twitter {
            &:hover { 
              background: $twitter-color; 
              color: $white; 
            }
          }
            
          &.google {
            &:hover {
              background: $google-color; 
              color: $white; 
            }
          }
            
          &.youtube {
            &:hover { 
              background: $youtube-color; 
              color: $white; 
            }
          }
            
          &.linkedin {
            &:hover {
              background: $linkedin-color; 
              color: $white; 
            }
          }
            
          &.instagram {
            &:hover { 
              background: $instagram-color; 
              color: $white; 
            }
          }
            
          &.pinterest {
            &:hover {
              background: $pinterest-color; 
              color: $white; 
            }
          }
            
          &.flickr {
            &:hover {
              background: $flickr-color; 
              color: $white; 
            }
          }
            
          &.tumblr {
            &:hover {
              background: $tumblr-color; 
              color: $white;
            }
          }
            
          &.vimeo {
            &:hover {
              background: $vimeo-color; 
              color: $white;
            }
          }
        
          &.primary {
            &:hover {
              background: $primary-color; 
              color: $white;
            }
          }
            
          &.secondary {
            &:hover {
              background: $secondary-color; 
              color: $white;
            }
          }
            
          &.third {
            &:hover {
              background: $third-color; 
              color: $white;
            }
          }
            
          &.mu {
            &:hover {
              background: $mu-color; 
              color: $white;
            }
          }
        }
          
        &:nth-child(1) { 
          a, a:hover {
               -webkit-border-top-left-radius: $global-radius;
                   -moz-border-radius-topleft: $global-radius;
                       border-top-left-radius: $global-radius;
            -webkit-border-bottom-left-radius: $global-radius;
                -moz-border-radius-bottomleft: $global-radius;
                    border-bottom-left-radius: $global-radius;
          }
        }
          
        &:nth-child(5) { 
          border-right: none !important;
            
          a, a:hover {
               -webkit-border-top-right-radius: $global-radius;
                   -moz-border-radius-topright: $global-radius;
                       border-top-right-radius: $global-radius;
            -webkit-border-bottom-right-radius: $global-radius;
                -moz-border-radius-bottomright: $global-radius;
                    border-bottom-right-radius: $global-radius;
          }
        }
      }
    }
  }
}

.footer-lower {
  padding: 0.5em 0;
    
  p {
    font-size: rem-calc(11);
    letter-spacing: 0.03em;
    line-height: 1.4em;
    margin: 1em 0;
      
    @media #{$medium-only} {
    }
    
    @media #{$large-up} {
      &.text-left {
        text-align: right !important;
      }
    }
  }

    .logo {
      clear: both;
      float: right;
      margin: 0!important;
      margin-top: rem-calc(2)!important;
      max-height: rem-calc(30);
      max-width: rem-calc(80);
      right: 0;
      width: 100%;
    }
}