@import "../core/mixins";

$publication-border-color: $primary-color !default;

.publication {
  border: 5px solid $publication-border-color;
  margin: rem-calc(75 0 40);
  min-height: rem-calc(30);
  padding: rem-calc(15 15 15 235);
    
  h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    margin: rem-calc(0 0 20);
  }
    
  .editors {
    font-style: italic;
    font-weight: $font-weight-bold;
  }
    
  img {
    position: absolute;
    height: rem-calc(350);
    left: $column-gutter;
    top: rem-calc(35);
  }
    
  &.eq-small {
    padding: rem-calc(300 15 15 15);
  }
}