// l. Panels

.panel {
  &.primary-dark {
    @include panel($bg:$primary-dark-color);
    border: 1px solid scale-color($primary-dark-color, $lightness:-20%);
  }
    
  &.primary {
    @include panel($bg:$primary-color);
    border: 1px solid scale-color($primary-color, $lightness:-20%);
  }
    
  &.primary-light {
    @include panel($bg:$primary-light-color);
    border: 1px solid scale-color($primary-light-color, $lightness:-20%);
  }
    
  &.primary-very-light {
    @include panel($bg:$primary-very-light-color);
    border: 1px solid scale-color($primary-very-light-color, $lightness:-20%);
  }

  &.secondary {
    @include panel($bg:$secondary-color);
    border: 1px solid scale-color($secondary-color, $lightness:-20%);
  }
    
  &.third {
    @include panel($bg:$third-color);
    border: 1px solid scale-color($third-color, $lightness:-20%);
  }
    
  &.gray-dark {
    @include panel($bg:$gray-dark-color);
    border: 1px solid scale-color($gray-dark-color, $lightness:-20%);
  }
    
  &.gray {
    @include panel($bg:$gray-color);
    border: 1px solid scale-color($gray-color, $lightness:-20%);
  }
    
  &.gray-lighter {
    @include panel($bg:$gray-lighter-color);
    border: 1px solid scale-color($gray-lighter-color, $lightness:-20%);
  }
    
  &.gray-light {
    @include panel($bg:$gray-light-color);
    border: 1px solid scale-color($gray-light-color, $lightness:-20%);
  }
    
  &.gray-very-light {
    @include panel($bg:$gray-very-light-color);
    border: 1px solid scale-color($gray-very-light-color, $lightness:-20%);
  }
    
  &.white {
    @include panel($bg:$white);
    border: 1px solid scale-color($white, $lightness:-20%);
  }
    
  &.red {
    @include panel($bg:$firebrick-red-color);
    border: 1px solid scale-color($firebrick-red-color, $lightness:-20%);
  }
    
  &.orange {
    @include panel($bg:$alloy-orange-color);
    border: 1px solid scale-color($alloy-orange-color, $lightness:-20%);
  }
    
  &.yellow {
    @include panel($bg:$goldenrod-yellow-color);
    border: 1px solid scale-color($goldenrod-yellow-color, $lightness:-20%);
  }
    
  &.green {
    @include panel($bg:$avocado-green-color);
    border: 1px solid scale-color($avocado-green-color, $lightness:-20%);
  }
    
  &.green2 {
    @include panel($bg:$myrtle-green-color);
    border: 1px solid scale-color($myrtle-green-color, $lightness:-20%);
  }
    
  &.blue {
    @include panel($bg:$blue-color);
    border: 1px solid scale-color($blue-color, $lightness:-20%);
  }
    
  &.blue2 {
    @include panel($bg:$darkblue-color);
    border: 1px solid scale-color($darkblue-color, $lightness:-20%);
  }
    
  &.purple {
    @include panel($bg:$royal-purple-color);
    border: 1px solid scale-color($royal-purple-color, $lightness:-20%);
  }
    
  &.purple2 {
    @include panel($bg:$pearly-purple-color);
    border: 1px solid scale-color($pearly-purple-color, $lightness:-20%);
  }
}