// o. Main Bar - použitý pro sekundární navigaci

.contain-to-grid-main {
    z-index: 9500;
    @include transition(top 0.2s ease);
}

.main-bar {
  line-height: normal;
  margin-bottom: rem-calc(30) !important;  
    
  .title-area {
    background: $mainbar-title-area-bg;
  }
    
  .main-bar-section {
    ul li {
        @media #{$small-only} {
          border-bottom: $mainbar-border;
        }
      
        & > a {
          text-decoration: none;
          max-height: $topbar-height;
          overflow: hidden;
          white-space: normal;
          @media (min-width:#{lower-bound($medium-range)}) and (max-width: 702px) {
                font-size: rem-calc(11);
                letter-spacing: 0.01em;
            }
          @media (min-width:703px) and (max-width: 1024px) {  //jinak min-width: 703px
                font-size: rem-calc(13);
                letter-spacing: 0.02em;
          }
        }
    
      &.back h5 a {
        &:hover {
          color: $mainbar-back-link-color-hover;
        }
      }
    
      .parent-link {
        text-transform: $mainbar-parentlink-transform;
          &:hover {
            color: $mainbar-parentlink-color-hover;
          }
      } 
    }
  }
}

.fixed {
  &.contain-to-grid-main {
    border-bottom: $mainbar-border;
    top: 0; //$topbar-height;
      
    .main-bar {
      margin-bottom: 0 !important;  
    } 
  }
}

@media #{$mainbar-media-query} {
    
    .main-bar {

        .main-bar-section {
            
          ul {
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            -ms-flex-pack: justify;
          }
            
          ul li {
            border-bottom: $mainbar-border;
            border-right: $mainbar-border;
            flex: 1 1 auto;
            -ms-flex: 1 1 auto;
              
            &:last-child { border-right: none; }
              
            &:not(.has-form) {
              a:not(.button) {
          
                  &::before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    vertical-align: middle;
                  }
                  
                  span { 
                    display: inline-block;
                    line-height: 1.2em;
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    vertical-align: middle;
                  }
              }
            }
            
            &.has-dropdown {
              //border-bottom: $mainbar-border;
                
              &.hover, &.not-click:hover {
                border-bottom-color: $mainbar-link-bg-hover;
              }
            }
          }
          
          .dropdown {
            #{$default-float}: -1px;
            background: $mainbar-dropdown-link-bg;
            border-top: none;
            border-right: $mainbar-dropdown-border;
            border-bottom: $mainbar-dropdown-border;
            border-left: $mainbar-dropdown-border;
            border-collapse: collapse;
            padding: rem-calc(10 0);
            min-width: 125%;
            top: $mainbar-height; // + rem-calc(1);
            z-index: 9600;
            -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
               -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);

            li {
              border-right: none;
              border-bottom: none;

              a {
                background: $mainbar-dropdown-link-bg;
                height: $mainbar-height / 2 !important;
                line-height: $mainbar-height / 2 !important;
              }

              &:not(.has-form):not(.active) {
                & > a:not(.button) {
                  color: $anchor-font-color;
                }

                &:hover > a:not(.button) {
                  color: $anchor-font-color-hover;
                  }
                }
              }
              
              &.right {
                right: -1px;
                left: auto;
                li { 
                  .dropdown { right: 100%; left: auto; }
                }
              }
           }
        }
    }
    
    .fixed.contain-to-grid-main {
      border-bottom: $mainbar-border;
      top: 0; //$topbar-height + rem-calc(4);
        
      .main-bar {
        padding-left: $column-gutter / 2;
        padding-right: $column-gutter / 2;
          
        &.hide-dropdown {
          .has-dropdown {
            .dropdown {
              display: none !important;
            }
          }
        }
      }
        
    }
}