// Alert Boxes
@import "../core/mixins";

.alert-box.agreement {
  background: none;
  border: none;
  margin-top: $alert-bottom-margin / 2;
  margin-bottom: $alert-bottom-margin / 2;

  p {
    padding-right: 100px;
    font-size: 0.9em;
    line-height: 1.1em;
    margin-bottom: 0;
    width: 100%;
  }
    
  .close {
    @include alert-close();
    border: 1px solid scale-color($secondary-color, $lightness: -20%);
    color: $white;
    font-size: 1em;
    margin: rem-calc(0 5);
    opacity: 1;
    padding: rem-calc(8);
    @include translate(0, -50%);
  }
    
  @media #{$large-up} {
    p {
      font-size: 1em;
      line-height: 1.3em;
    }
  }
}