// h. th thumbs

.th {
  box-shadow: 0px 0px 6px rgba($gray-dark-color, 0.15);
  -webkit-box-shadow: 0px 0px 6px rgba($gray-dark-color, 0.15);
  -moz-box-shadow: 0px 0px 6px rgba($gray-dark-color, 0.15);
  border: none;
  
  &.people-photo {
    @media #{$medium-up} {
      margin-top: .8rem;
    }
  }
}

.clearing-thumbs {
  li {
    img {
      @include thumb;
    }
  }
}

.clearing-assembled {
  z-index: 11000;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}