// f. Dropdowns

.f-dropdown {
  z-index: 9999;
    li {
      list-style-image: none !important;
    }
  &#language-choice {
    max-width: 150px;
    a {
      font-size: rem-calc(12);
      text-decoration: none;
    }
    img {
      height: 12px;
      margin: rem-calc(0 0 0 8);
      width: auto;
    }
  }
}