// c. User Typography

h1, h2, h3, h4, h5, h6 { 
  @include font-smoothing;
  line-height: 1.2em;
  @include transition(color 0.2s ease);
}

h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

h1 {
  margin-top: 2rem;
}

h6 {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  &.primary-dark { color: $primary-dark-color; }
  &.primary { color: $primary-color; }
  &.primary-light { color: $primary-light-color; }
  &.secondary { color: $secondary-color; }
  &.third { color: $third-color; }
    
  &.gray-dark { color: $gray-dark-color; }
  &.gray { color: $gray-color; }
  &.gray-lighter { color: $gray-lighter-color; }
  &.gray-light { color: $gray-light-color; }
  &.gray-very-light { color: $gray-very-light-color; }
  &.white { color: $white; }
    
  &.red { color: $firebrick-red-color; }
  &.orange { color: $alloy-orange-color; }
  &.yellow { color: $goldenrod-yellow-color; }
  &.green { color: $avocado-green-color; }
  &.green2 { color: $myrtle-green-color; }
  &.blue { color: $blue-color; }
  &.blue2 { color: $darkblue-color; }
  &.purple { color: $royal-purple-color; }
  &.purple2 { color: $pearly-purple-color; }
    
  &.highlight {
    @mixin bgrd($bg) {
      background: $bg;
      color: if(lightness($bg) > 70%, $body-font-color, $white);
      padding: rem-calc(0 2);
    }
      
    &-primary-dark { @include bgrd($primary-dark-color); }
    &-primary { @include bgrd($primary-color); }
    &-primary-light { @include bgrd($primary-light-color); }
    &-primary-very-light { @include bgrd($primary-very-light-color); }
    &-secondary { @include bgrd($secondary-color); }
    &-third { @include bgrd($third-color); }
      
    &-gray-dark { @include bgrd($gray-dark-color); }
    &-gray { @include bgrd($gray-color); }
    &-gray-lighter { @include bgrd($gray-lighter-color); }
    &-gray-light { @include bgrd($gray-light-color); }
    &-gray-very-light { @include bgrd($gray-very-light-color); }
    &-white { @include bgrd($white); }
      
    &-red { @include bgrd($firebrick-red-color); }
    &-orange { @include bgrd($alloy-orange-color); }
    &-yellow { @include bgrd($goldenrod-yellow-color); }
    &-green { @include bgrd($avocado-green-color); }
    &-green2 { @include bgrd($myrtle-green-color); }
    &-blue { @include bgrd($blue-color); }
    &-blue2 { @include bgrd($darkblue-color); }
    &-purple { @include bgrd($royal-purple-color); }
    &-purple2 { @include bgrd($pearly-purple-color); }
  }
}

.bgrd-gray-light { background: rgb(245, 245, 245); }

p, span {
  &.bigger-text {
    font-size: rem-calc(18);
    line-height: 1.5rem;
  }
  
  &.big-text {
    font-size: rem-calc(20);
    line-height: 1.5rem;
  }
    
  &.huge-text {
    font-size: rem-calc(36);
    line-height: 3rem;
  }
  
  &.holy-cow-text {
    font-size: rem-calc(50);
    line-height: 3rem;
  }
  &.what-the-hell-text {
    font-size: rem-calc(72);
    line-height: 5rem;
  }
}

a {
  &.facebook {
    &:hover { 
      color: $facebook-color; 
    }
  }
  &.twitter {
    &:hover { 
      color: $twitter-color; 
    }
  }
  &.google {
    &:hover {
      color: $google-color; 
    }
  }
  &.youtube {
    &:hover { 
      color: $youtube-color; 
    }
  }
  &.linkedin {
    &:hover { 
      color: $linkedin-color; 
    }
  }
  &.instagram {
    &:hover { 
      color: $instagram-color; 
    }
  }
  &.pinterest {
    &:hover { 
      color: $pinterest-color; 
    }
  }
  &.flickr {
    &:hover { 
      color: $flickr-color; 
    }
  }
  &.tumblr {
    &:hover { 
      color: $tumblr-color; 
    }
  }
  &.vimeo {
    &:hover { 
      color: $vimeo-color; 
    }
  }
}

.footer-upper, .footer-lower {
  a {
    font-weight: $font-weight-normal;
  }
}

strong {
  &.color { 
    color: $primary-color; 
  }
}

a {
  @include transition(all 0.2s ease);
    
  &:hover {
    text-decoration: none;
      
    h1, h2, h3, h4, h5, h6 {
      color: $anchor-font-color-hover;
    }
  }
    
  &:focus { outline: none; }
}

.language-choice {
    text-decoration: none;
    
    img {
      height: 15px;
      margin: rem-calc(-3 12 0 0);
      width: auto;
    }
}

